html(lang="ru")
	head
		include modules/head/index.pug

	body
		include modules/header/index.pug
		div(style={"padding-top": "100px"})
			include modules/tarifs/index.pug
		include modules/footer/index.pug
		include modules/foot/index.pug
